<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">

    <title>Instagram Giveaway Bot Panel</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-toaster@5.2.0-beta1.1/dist/css/bootstrap-toaster.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="area">
    <div class="container py-5">
        <h1 class="text-center mb-5">
            <img src="/theme.png" alt="Tesla Logo" height="80" style="transform: scaleX(-1);"> Giveaway Bot Panel
        </h1>

        <!-- Start of Tabs -->
        <ul class="nav nav-pills nav-fill mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="panel-tab" data-bs-toggle="tab" data-bs-target="#panel"
                        type="button" role="tab" aria-controls="panel" aria-selected="true">Panel
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="proxies-tab" data-bs-toggle="tab" data-bs-target="#proxies" type="button"
                        role="tab" aria-controls="proxies" aria-selected="false">Proxies
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                        role="tab" aria-controls="settings" aria-selected="false">Settings
                </button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- panel tab -->
            <div class="tab-pane fade show active" id="panel" role="tabpanel" aria-labelledby="panel-tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Comments Posted
                                    <button id="resetCounterButton" class="btn btn-sm btn-outline-secondary float-end"
                                            title="Reset Counter">
                                        <i class="fas fa-redo"></i>
                                    </button>
                                </h5>
                                <p class="card-text" id="commentsPosted">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Days Until End of Giveaway</h5>
                                <p class="card-text" id="daysUntilEnd">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title" id="timeSinceError_title">Time Since Last 429 Error</h5>
                                <p class="card-text" id="timeSinceError_body">0</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Giveaway End Date</h5>
                                <input type="date" class="form-control" data-setting="stopDate" id="endDate">
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="card-body text-center">
                                <h5 class="card-title">Controls</h5>
                                <button class="btn btn-success" id="startButton">Start</button>
                                <button class="btn btn-danger" id="stopButton">Stop</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Comment Delay</h5>
                                <p class="text-muted mb-2 pb-2">Adjust the delay between each comment. Use the drop-down
                                    to select seconds or minutes.</p>
                                <div class="mb-3 row">
                                    <label for="minDelay" class="form-label col-md-4 ms-2">Minimum Delay</label>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control" data-setting="commentMinDelay"
                                               id="minDelay">
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="commentMinDelayUnits"
                                                data-setting="commentMinDelayUnits">
                                            <option value="seconds">Seconds</option>
                                            <option value="minutes">Minutes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="maxDelay" class="form-label col-md-4 ms-2">Maximum Delay</label>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control" data-setting="commentMaxDelay"
                                               id="maxDelay">
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="commentMaxDelayUnits"
                                                data-setting="commentMaxDelayUnits">
                                            <option value="seconds">Seconds</option>
                                            <option value="minutes">Minutes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>Logs <i class="fas fa-eraser" id="clearLogs" title="Clear Logs" style="cursor:pointer;"></i>
                        </h5>
                        <textarea id="logs" class="logs form-control" readonly></textarea>
                    </div>
                </div>
            </div>

            <!-- Proxies Tab -->
            <div class="tab-pane fade" id="proxies" role="tabpanel" aria-labelledby="proxies-tab">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Available Proxies</h5>
                                <p class="card-text" id="totalProxies">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Proxies Checked in Last 30 Minutes</h5>
                                <p class="card-text" id="checkedProxies">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Proxies for Selected Countries</h5>
                                <p class="card-text" id="countryProxies">0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="card mb-3">
                        <div class="row m-2">
                            <div class="col-md-3">
                                <label for="availableCountries">Available Countries:</label>
                                <select multiple class="form-control" id="availableCountries">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="availableCities">Available Cities:</label>
                                <select multiple class="form-control" id="availableCities">
                                </select>
                            </div>
                            <div class="col-md-2 text-center my-auto">
                                <button class="btn btn-primary" id="addCountry"> >></button>
                                <button class="btn btn-primary" id="removeCountry"><<</button>
                            </div>
                            <div class="col-md-4">
                                <label for="selectedProxies">Selected Cities</label>
                                <select multiple class="form-control" id="selectedProxies">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Settings Tab -->
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="row mb-2">
                    <!-- Instagram related settings -->
                    <div class="col-md-4 pt-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Instagram Settings</h5>
                                <!-- Username -->
                                <label for="username">Username</label>
                                <input type="text" class="form-control mb-2" id="username" data-setting="IG_USERNAME"
                                       placeholder="Username">
                                <!-- Password -->
                                <label for="password">Password</label>
                                <input type="password" class="form-control mb-2" id="password"
                                       data-setting="IG_PASSWORD" placeholder="Password">
                                <hr>
                                <!-- Media Post Link -->
                                <label for="mediaPostLink">Media Post Link</label>
                                <input type="text" class="form-control mb-2" id="mediaPostLink" data-setting="mediaLink"
                                       placeholder="Enter link here">
                                <hr>
                                <!-- Usernames for Comments -->
                                <label for="usernames">Usernames for Comments (separated by space)</label>
                                <!-- Tags preview -->
                                <div id="usernamesPreview" class="mb-2"></div>
                                <input class="form-control mb-2" id="usernames" rows="3" data-setting="usernames"
                                       placeholder="Enter usernames here">
                                <!-- Amount of users to tag -->
                                <label for="amountOfUsersToTag">Amount of Users to Tag per Comment</label>
                                <input type="number" class="form-control mb-2" id="amountOfUsersToTag"
                                       data-setting="amountOfUsersToTag"
                                       placeholder="Enter amount of users to tag per comment">
                                <hr>
                                <!-- Save Data -->
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" id="saveDataCheckbox"
                                           data-setting="saveData">
                                    <label class="form-check-label" for="saveDataCheckbox">
                                        Save Data (Block videos and images)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- System running on Settings -->
                    <div class="col-md-4 pt-2">
                        <!-- System Settings Card -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">System Settings</h5>
                                <!-- Running On -->
                                <label for="runningOn">Running on</label>
                                <select class="form-control mb-2" id="runningOn" data-setting="runningOn">
                                    <option value="WindowsMac">Windows / Mac</option>
                                    <option value="Linux">Linux</option>
                                </select>
                                <label for="chromium_headless">Browser Shown/Hidden</label>
                                <select class="form-control mb-2" id="chromium_headless"
                                        data-setting="chromium_headless">
                                    <option value="Hidden">Hidden</option>
                                    <option value="Shown">Shown</option>
                                </select>
                                <small class="form-text text-muted">Note: If the platform is set to Linux, the browser
                                    should be set to Hidden.</small>
                            </div>
                        </div>
                        <hr>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Proxies (Not Yet Implemented)</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           data-setting="proxies_enabled" id="proxyToggle">
                                    <label class="form-check-label" for="proxyToggle">
                                        Enable Proxies
                                    </label>
                                    <input type="password" class="form-control mt-2" id="webshare_token"
                                           data-setting="webshare_token" placeholder="Enter webshare token here">
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Logout
                                    of <%= username.charAt(0).toUpperCase() + username.slice(1) %></h5>
                                <button id="logoutButton" class="btn btn-primary btn-block">Logout</button>
                            </div>
                        </div>
                    </div>

                    <!-- Proxies Settings -->
                    <div class="col-md-4 pt-2">
                        <!-- Notifications Card -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Notifications</h5>
                                <!-- Pushover Notifications -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           data-setting="pushover_notifications" id="pushover_notifications_toggle">
                                    <label class="form-check-label" for="pushover_notifications_toggle">
                                        Enable Pushover Notifications
                                    </label>
                                </div>
                                <!-- User Key -->
                                <label for="pushoverUser">Pushover User Key</label>
                                <input type="password" class="form-control mb-2" id="pushoverUser"
                                       data-setting="pushoverUser" placeholder="User Key">
                                <!-- Application Token -->
                                <label for="pushoverToken">Pushover Application Token</label>
                                <input type="password" class="form-control" id="pushoverToken"
                                       data-setting="pushoverToken" placeholder="Application Token">
                                <!-- Test Notification Button -->
                                <button id="testNotificationPushover" class="btn btn-primary mt-2">Send Test
                                    Notification
                                </button>

                                <hr>

                                <!-- Discord Webhook Notifications -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           data-setting="discord_notifications" id="discord_notifications_toggle">
                                    <label class="form-check-label" for="discord_notifications_toggle">
                                        Enable Discord Notifications
                                    </label>
                                </div>
                                <!-- Webhook URL -->
                                <label for="webhookUrl">Discord Webhook URL</label>
                                <input type="password" class="form-control mb-2" id="webhookUrl"
                                       data-setting="webhookUrl" placeholder="Webhook URL">
                                <!-- Test Notification Button -->
                                <button id="testNotificationDiscord" class="btn btn-primary mt-2">Send Test
                                    Notification
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Tabs -->
        </div>

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-toaster@5.2.0-beta1.1/dist/umd/bootstrap-toaster.min.js"></script>
<script src="/script.js"></script>
</body>

</html>
